 <h1>Create New HomeSchool Profile</h1>

<%= form_for(Student.new) do |f| %>
  First name : <%= f.text_field :name %><br />
  Age :  <%= f.text_field :age %><br />
  Grade : <%= f.text_field :grade_level %><br />
  <%= f.submit "Create Profile"%>
<% end %>


<!-- <%= form_tag students_path do %>
  <label>Child's Name:</label>
  <%= text_field_tag :'student[name]' %><br>
 
  <label>Child's Age:</label>
  <%= text_field_tag :'student[age]' %><br>

  <label>Child's Grade:</label>
  <%= text_field_tag :'student[grade_level]' %><br>
 
  <%= submit_tag "Create Profile" %>
<% end %>>