<!DOCTYPE html>
<html>
  <head>
    <title>HomeschoolProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>

        <li><%= link_to "Home", root_path %></li>
        <% unless logged_in? %> 
           <li><%= link_to "Signup", signup_path %></li> 
        <% else %>
            <li><%= link_to "Homeroom", students_path %></li>
            <li><%= link_to "New Child", new_student_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>


  </body>
</html>
